// .marged-top {
//   margin-top : 0.5rem;
// }

.full-height-container {
height: calc(100vh - 200px);
}

.full-height {
  height: 100%;
}

.non-padded {
  padding-left: 0;
  padding-right: 0;
}

.almost-full-height {
  height: 60%;
}
