.btn-medium {
  color: black;
  background-color: white;
  border: 1px solid #999999;
  padding: 10px 15px;

  font-weight: lighter;
  opacity: 1;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.button-position {
margin-top: 110px;
}

.button-position-pot {
margin-top: 215px;
}
