.epicard {
position: relative;
margin-bottom: 30px;
height: 400px;
background-color: #fef7df;
display: flex;
justify-content: center;
align-items: center;
}

.epicard-image {
position: relative;
// transform: translateY(10%);
// top: 50%;
max-width: 160px;
max-height: 210px;
}

.product-description {
  flex: 1 0 auto;
  padding: 0px !important;
  text-align: center;
}

.epicard-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  }


.box {
  transition: box-shadow .3s;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.produt-show {
position: relative;
text-align: center;
width: 100%;
height: 715px;
background-color: #fef7df;
margin-left: -44px !important;
}

.produt-show img {
position: relative;
text-align: center;
transform: translateY(80%);
}

.produt-text p, h4, h3 {
text-align: center;
}

