.right-card, .left-card {
width: 100%;
height: 100%;
}

.left-card-result {
  overflow-y: scroll;
  overflow-x: hidden;
}

.yellow-background {
  background-color: #fef7df;
}


.result-background {
  background-color: none;
}

.diag-background {
  background-image: asset-url('cactus.jpg');
  // background-color: #fef7df;
}

.home-background {
 background-image: asset-url('desert.jpg');
}

.right-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.right-card-content {
  width: 60%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  padding: 3rem;
}

.diagnostic {
  line-height: 10px;
  text-align: left;
  width: 80%;
  padding: 4rem;
}

#title-diagnostic {
  padding-top: 0px;
  margin-top: 0px;
}

.product-star-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.product-star-picture img {
  max-height: 40%;
  max-width: 100%;
}

.result-star-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}

.result-star-picture img {
  max-height: 60%;
  max-width: 100%;
}


.product-star-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 15%;
  padding-left: 1rem;
}

#title-star-product {
  text-align: left;
}

#priceproduct {
  padding-left: 40px;
}

.epicard {
position: relative;
margin-bottom: 30px;
height: 400px;
background-color: #fef7df;
display: flex;
justify-content: center;
align-items: center;
}

.epicard-image {
position: relative;
// transform: translateY(10%);
// top: 50%;
max-width: 160px;
max-height: 210px;
}

.product-description {
  flex: 1 0 auto;
  padding: 0px !important;
  text-align: center;
}

.epicard-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  }


.box {
  transition: box-shadow .3s;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* .product-show {
position: relative;
text-align: center;
width: 100%;
height: 715px;
background-color: #fef7df;

}

.product-show img {
position: relative;
text-align: center;
transform: translateY(80%);
max-width: 300px;
max-height: 300px;
} */

.product-text p, h4, h3 {
text-align: center;
}

.right-card-all-products {

  justify-content: center;
  align-items: center;
  // color: white;
  background-position: center;
}

.right-card-content-all-products {
  max-width: 100%;
  text-align: center;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;

}

.left-card-products {
width: 100%;
height: 100%;
background-color: #fef7df;
}

.product-show-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 1rem;
}

.product-show-picture img {
  max-height: 70%;
  max-width: 100%;
}
 .product-show-picture img {
  max-height: 70%;
  max-width: 100%;
}

#products-title {
  padding-left: 230px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
}

