.right-card, .left-card {
width: 100%;
height: 100%;
}

.left-card-result {
  overflow-y: scroll;
}

.right-card {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url('desert.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  // color: white;
  background-size: cover;
  background-position: center;
}

.right-card-content {
  width: 60%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  padding: 3rem;
}

.diagnostic {
  line-height: 10px;
  text-align: left;
  width: 80%;
  padding: 4rem;
}

#title-diagnostic {
  padding-top: 0px;
  margin-top: 0px;
}

.product-star-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}

.product-star-picture img {
  max-height: 40%;
  max-width: 100%;

}

.result-star-picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}

.result-star-picture img {
  max-height: 60%;
  max-width: 100%;
}


.product-star-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 15%;
  padding-left: 1rem;
}

#title-star-product {
  text-align: left;

}

.epicard {
position: relative;
margin-bottom: 30px;
height: 400px;
background-color: #fef7df;
text-align: center;
}

.epicard-image {
position: relative;
transform: translateY(10%);
top: 50%;
width: 104px;
height: 229px;
}

.product-description {
  flex: 1 0 auto;
  padding: 0px !important;
  text-align: center;
}

.epicard-image-pot {
position: relative;
transform: translateY(142%);
top: 50%;
width: 151px;
height: 124px;
text-align: center;

}

.box {
  transition: box-shadow .3s;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.produt-show {
position: relative;
text-align: center;
width: 100%;
height: 715px;
background-color: #fef7df;
margin-left: -44px !important;
}

.produt-show img {
position: relative;
text-align: center;
transform: translateY(80%);
}

.produt-text p, h4, h3 {
text-align: center;
}

