.active {
  color: #F9C73E !important;
}

.navbar-eveil {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 200px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-logo  {
  height: 140px;
  text-align: center;
}

.navbar-logo img {
  height: 130px;
  padding-top: 10px;
}

.navbar-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 0 5%;

}

.navbar-language {
  width: 23%;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 39%;
}

.link {
  width: 30%;
  text-align: center;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  opacity: 1;
  color: #999999;
}

.link:focus {
  text-decoration: none;
  opacity: 1;
  color: #999999;
}

.navbar-items {
  width: 23%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .search {
//   text-align: left;
//   float: right;
//   padding: 0px;
//   border: none;
//   margin-top: -28px;
//   margin-right: 115px;
//   font-size: 17px;
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
// }
