<div class="container-video">
  <video class="my-video" muted="true" loop="" autoplay="true" src="/Dunes.mp4" poster="/Dunes.mp4" onloadeddata=" objectFitVideos(); loadedVideo()" style="z-index: 2;"></video>
  <div class="overlay">
    <img src="logo-final.png" alt="L'Eveil du Désert" style="height: 90px;" />
  </div>
</div>

<%= content_for :house_link do %>
  active
<% end %>
