<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="banner">
        <div class="banner-content" >
          <h1>NOUVEAUTÉ</h1>
          <p>Trouvez votre produit via un diagnostic personnalisé. Veuillez télécharger une photo depuis votre ordinateur.<br><br></p>
        <%= simple_form_for @profile, :url => profile_photo_path, :method => :post  do |f| %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn-medium' %>
    <% end %>
    </div>
  </div>
</div>



