<div class="container-video">
  <video class="my-video" muted="true" loop="" autoplay="true" src="/Dunes.mp4" poster="/Dunes.mp4" onloadeddata=" objectFitVideos(); loadedVideo()" style="z-index: 2;"></video>
  <div class="overlay">
    <img src="logo2.png" alt="Eveil du desert" style="height: 75px; width: 300px;" />
  </div>
</div>

<%= content_for :house_link do %>
  active
<% end %>
