<h1> NOS PRODUITS </h1>
<div class="container">
  <div class="row">
    <% @products.each do |p| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to p do  %>
          <div class="epicard box">
            <%= image_tag p.photo, class: "epicard-image" %>
            <div class="button-position">
              <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
            </div>
          </div>
          <div class="product-description">
            <h4><%= p.name.capitalize %></h4>
            <p><%= p.price %> €</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
