<h2>Epicurious Cards</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="epicard box">
              <img src="images/huile.png" alt="" class="epicard-image">
              <div class="button-position">
                <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
              </div>
            </div>
            <div class="product-description">
              <h4>HUILE DE PEPIN DE FIGUES</h4>
              <p>50ml</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="epicard box">
                <img src="images/petite_creme.png" alt="" class="epicard-image">
                <div class="button-position">
                  <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                </div>
              </div>
              <div class="product-description">
                <h4>HUILE DE PEPIN DE FIGUES</h4>
                <p>50ml</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="epicard box">
                  <img src="images/pot_creme.png" alt="" class="epicard-image-pot">
                  <div class="button-position-pot">
                    <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                  </div>
                </div>
                <div class="product-description">
                  <h4>HUILE DE PEPIN DE FIGUES</h4>
                  <p>50ml</p>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="epicard box">
                      <img src="images/grande_creme.png" alt="" class="epicard-image">
                      <div class="button-position">
                        <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                      </div>
                    </div>
                    <div class="product-description">
                      <h4>HUILE DE PEPIN DE FIGUES</h4>
                      <p>50ml</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="epicard box" >
                        <img src="images/huile.png" alt="" class="epicard-image">
                        <div class="button-position">
                          <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                        </div>
                      </div>
                      <div class="product-description">
                        <h4>HUILE DE PEPIN DE FIGUES</h4>
                        <p>50ml</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <div class="epicard box">
                          <img src="images/pot_creme.png" alt="" class="epicard-image-pot" >
                          <div class="button-position-pot">
                            <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                          </div>
                        </div>
                        <div class="product-description">
                          <h4>HUILE DE PEPIN DE FIGUES</h4>
                          <p>50ml</p>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                          <div class="col-xs-12 col-sm-4">
                            <div class="epicard box">
                              <img src="images/huile.png" alt="" class="epicard-image">
                              <div class="button-position">
                                <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                              </div>
                            </div>
                            <div class="product-description">
                              <h4>HUILE DE PEPIN DE FIGUES</h4>
                              <p>50ml</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-4">
                              <div class="epicard box">
                                <img src="images/pot_creme.png" alt="" class="epicard-image-pot">
                                <div class="button-position-pot">
                                  <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                                </div>
                              </div>
                              <div class="product-description">
                                <h4>HUILE DE PEPIN DE FIGUES</h4>
                                <p>50ml</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-4">
                                <div class="epicard box">
                                  <img src="images/pot_creme.png" alt="" class="epicard-image-pot">
                                  <div class="button-position-pot">
                                    <a href="#" class="btn-medium">EN SAVOIR PLUS</a>
                                  </div>
                                </div>
                                <div class="product-description">
                                  <h4>HUILE DE PEPIN DE FIGUES</h4>
                                  <p>50ml</p>
                                </div>
                              </div>
